.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    color: white;
    text-align: center;
  }
  
  .hero-section {
    max-width: 600px;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .signup-button, .search-button {
    display: block;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover, .search-button:hover {
    background-color: #0056b3;
  }
  

  @layer base {
    @font-face {
      font-family:'fredoka';
      src: url('../src/assets/font/Fredoka-VariableFont_wdth\,wght.ttf') format('fredoka');
      font-weight: 700;
      font-style: bold;
    }
  }

  @layer base {
    @font-face {
      font-family:'Rubik Mono One, monospace';
      src: url('../src/assets/font/RubikMonoOne-Regular.ttf') format('rubik');
      font-weight: 400;
      font-style: normal;
    }
  }
  @layer base {
    @font-face {
      font-family:'Righteous, sans-serif';
      src: url('../src/assets/font/Righteous-Regular.ttf') format('right');
      font-weight: 400;
      font-style: normal;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}